<div
    class="relative flex h-[80vh] flex-col gap-y-4 divide-y divide-tertiary-300 overflow-y-auto rounded-md border border-tertiary-400 p-4 dark:divide-tertiary-300 dark:border-gray-200"
>
    @for (message of messages$$(); track $index) {
        <sm-chat-message
            [message]="message"
            [adminMode]="adminMode$$()"
        ></sm-chat-message>
    }

    @if (form) {
        <form
            [formGroup]="form"
            (ngSubmit)="handleSubmit()"
            class="absolute bottom-2 left-2 right-2 flex flex-col items-center justify-between pt-2 md:flex-row md:gap-x-4"
        >
            <sm-input-text
                class="w-full"
                [formControlName]="'message'"
            ></sm-input-text>
            <sm-button [type]="'submit'" class="mt-2" (click)="handleSubmit()">
                Send
            </sm-button>
        </form>
    }
</div>
